*{
    margin-top: 0;
}
.cow-title{
    background-image: url('image/cow.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
}
.cow-title h1{
    text-align: center;
    font-size: 100px;
    word-spacing: 5px;
    padding: 80px;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cow-conten{
    margin: 50px auto;
    width: 1140px;
    /* border: 2px solid rgb(16, 133, 235); */
    box-shadow: 0 0 10px 5px lightskyblue;
    padding: 50px;
    background-color: aquamarine;
    border-radius: 10px;
}
#cow-h{
    text-align: center;
    border-bottom: 4px solid blue;
    padding: 30px;
    color: rgb(3, 85, 117);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#lorem{
    font-size: 50px;
    color: rgb(3, 85, 117);
}
.cow-types{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.cow-types-img img{
   border-radius: 15px;
   box-shadow: 0 0 10px 3px blueviolet;
   
}
.foot-cont {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: antiquewhite;
    gap: 70px;
    padding: 100px 150px 70px 150px;
}

.footer-coloum {
    margin: 20px;
    width: 50%;

}

.foot-info-cont {
    font-size: 30px;
}

.foot-from input,
textarea {
    display: block;
    margin-bottom: 15px;
    padding: 15px 35px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 6px 3px #757575;
    width: 100%;
}

#sub {
    background-color: aquamarine;
}

.foot-link li {
    font-size: 20px;
    color: #403e3e;
}

.foot-info-description {
    font-size: 25px;
}
.social-link a{
    margin-right: 40px;
}
.copy {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: aquamarine;
}
